#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
  padding-top: 80px;
  box-sizing: border-box;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


:root {
  --color-primary: #ba8b48;
  --color-secondary: #fad5a5;
  --color-text: #4a3a25;
  background-color: #f5f5f5;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  color: var(--color-primary);
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 0.6em;
}

h3, h4 {
  font-family: 'Merriweather', serif;
  color: var(--color-primary);
  font-weight: 600;
  margin-bottom: 0.5em;
}

body, p, li {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--color-text);
}

nav, button, .nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
