.about{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.text{
    text-align: center;
    width: 55%;
    
}

.text h1{
    font-size: 2.5rem;
}

.text p{
    padding: 20px;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.6;
}

.image{
    width: 45%;
}

@media (max-width: 768px){
    .text{
        width: 100%;
    }
    
    .image{
        display: none;
    }
}